/* components/Footer/Footer.css */
.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-azul-marino);
  border-top: 1px solid var(--color-teal-medio);
}

.footer__text {
  font-size: var(--font-size-sm);
  color: var(--color-celeste-gris);
}